/* ************************************** */

/* Default style sheet for the admin section */

/* general element styles */

body,
html {
    font-family: "Raleway",
    sans-serif;
    font-size: 1rem;

    background-color: rgba(255, 255, 255, .45);
}

img {
    width: 200px;
    height: auto;
    /* padding-bottom : 4%; */
}

header {
    text-align: center;
    /* padding : 5%; */

    color: white;
    border: thin solid grey;
    background-color: #003;
    /* background-image: url("images/cms_logo.jpg"); */
}

footer {
    padding: 4%;

    color: #ffc;
    border: thin solid black;
    background-color: #003;
}

/* style the navbar */


ul {
    display: flex;
    padding: 0;

    flex: 1;
}


li {
    display: flex;

    text-decoration: none;

    flex: 1;
    justify-content: left;
}

a {
    font-size: 1.5em;

    text-decoration: none;

    color: #003;
    /* border: thin solid black; */
}





/* ************************************** */

/* the admin styles */

/* style the container with flexbox */
.navbar {
    display: flex;
    flex-direction: row;

    border-bottom: thin solid #003;

    align-content: center;
}


.sub-section {
    display: flex;
}
.sub-navbar {
    width: 20%;

    flex: 1 0 0;
}
.sub-navbar ul {
    display: flex;

    flex: 1;
    flex-flow: column;
}
.container {
    display: flex;
}
.side-section {
    flex: 1 0 0;
}
.main-section {
    width: auto;

    flex: 2 0 0;
}



.page-preview-box {
    border: thin solid black;
}

.page-subheading {
    border: thin solid black;
}

.header-box {
    border: thin solid black;
    /* padding: 2%; */
}



a.active {
    color: #ff4000;
}



.admin-nav a:hover {
    color: blue;
}





.input-box[placeholder] {
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;

    font-family: "Raleway",
    sans-serif;
}

.input-box[value] {
    padding: 1rem;
    margin-top: 5%;

    font-family: "Raleway",
    sans-serif;
}

.input-box {
    padding-right: 1rem;
}
.input-box.text-area {
    width: 400px;
    height: 100px;
}
.delete-box {
    border: thin solid grey;
}

.laptop-icon {
    width: 25px;
    height: 25px;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar li {
        margin: auto;
        /* a prefix to enable wrapping on safari browser (iphones) */

        -webkit-flex: 1 1 15em;
    }
    .navbar a {
        font-size: .75rem;
    }
    .sub-navbar a {
        font-size: .70rem;
    }
    .logout {
        font-size: .70rem;
    }
    .sub-search {
        text-align: right;
    }

    /* .navbar {
    flex-direction: column;

    align-content: center;
    flex-flow: column;
}
*/
}
