/* ************************************** */

/* Default style sheet for the admin section */

/* general element styles */

body,
html {
  background-color : rgba(255, 255, 255, 0.45);
  font-family      : 'Raleway',
                     sans-serif;
  font-size        : 1rem;
}

img {
  width  : 200px;
  height : auto;
    /* padding-bottom : 4%; */
}

header {
    /* padding : 5%; */
  color            : white;
  border           : thin solid grey;
  background-color : #000033;
  text-align       : center;
    /* background-image: url("images/cms_logo.jpg"); */
}

footer {
  padding          : 4%;
  color            : #FFFFCC;
  border           : thin solid black;
  background-color : #000033;
}

/* style the navbar */

/*
  ul {
  border: thin solid grey;
  display : flex;
  padding-right : 5%;
  justify-content : flex-end;
  }
*/

li {
  display         : inline;
  text-decoration : none;
    /* border: thin solid black; */
}

a {
  color           : grey;
  text-decoration : none;
  font-size       : 1.5em;
    /* border: thin solid black; */
}

nav {
  padding : 4%;
  border  : thin solid black;
}

/*
  a:hover{
  color: blue;
  }
*/

/* ************************************** */

/* the admin styles */

/* style the container with flexbox */

.admin-container {
  display : flex;
}

.menu-sidebar {
  width : 20%;
  flex  : 1 0 0;
}

.main-section {
  width : auto;
  flex  : 2 0 0;
}

.page-preview-box {
  border : thin solid black;
}

.page-subheading {
  border : thin solid black;
}

.header-box {
  border : thin solid black;
    /* padding: 2%; */
}

li.admin-nav {
  display : block;
  padding : 1rem;
}

a.active {
  color : #000033;
}

li.active {
  background-color : #000033;
}

.admin-nav a:hover {
  color : blue;
}

.button {
  padding : 0.5rem;
  border  : thin solid black;
}

.admin-button {
  flex-direction : column;
}

.input-box[placeholder] {
  margin-top  : 0.5rem;
  margin-bottom: 1.5rem;
  padding     : 1rem;
  font-family : 'Raleway',
                sans-serif;
}

.input-box[value] {
  margin-top  : 5%;
  padding     : 1rem;
  font-family : 'Raleway',
                sans-serif;
}

.input-box {
  padding-right : 1rem;
}
.input-box.text-area {
    width: 400px;
    height: 100px;
}
.delete-box {
    border: thin solid grey;
}

.laptop-icon {
  width       : 25px;
  height      : 25px;
  padding-top : 20px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size : 1rem;
  }
  a {
    font-size : 1rem;
  }
  nav {
    padding          : 4%;
    color            : #FFFFCC;
    border           : thin solid black;
    background-color : #000033;
  }
  .admin-container {
    flex-direction : column;
  }
  .menu-sidebar {
    width   : auto;
    padding : 4%;
    padding : 0;
    color   : #000033;
  }
  ul.admin-nav {
    display          : flex;
    border           : thin solid grey;
    background-color : #FFFFCC;
    flex-wrap        : wrap;
  }
  li.admin-nav {
    display   : flex;
    flex-flow : wrap;
  }
}
