/* ************************************** */

/* Default style sheet for the admin section */

/* general element styles */
body,
html {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.img-resp {
  width: 100%;
  height: auto;
}

.header-box {
  color: white;
  border: thin solid grey;
  border-radius: 0.5%;
  text-align: center;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: black;
  padding-top: 10%;
  margin: 0;
}



/* style the navbar */
ul {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  background-color: white;
  margin: 0;
}

li {
  padding: 2rem;
  display: inline;
  text-decoration: none;
}

li.active {
  border-bottom: white;
}

a {
  color: #5499C7;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  padding: 3rem;
}

a.readmore-link {
  padding: 0;
  color: red;
  font-size: 0.75em;
}

a:hover {
  color: #922B21;
  border-bottom: thick solid #922B21;
}

/*.page-subheading */
/*  padding: 2rem;
  margin: 0;
  

}*/
/*.sub-section {
  display: flex;
}

.sub-search {
  align-self: flex-start;
}*/
/* live search */
#searchForm {
  display: flex;
}

#livesearch a {
  background-color: #E9F2F7;
  
  position: absolute;
  border: thin solid grey;
  padding: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  width: 11.7rem;
}

.content-container {

  /*border: thin solid black;*/
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.side-section-sm {
  border-right: thin solid #F4D03F;
  margin: 1%;
  flex: 1 0 0;
  padding: 1%;

}

.main-section {
  text-align: left;
  margin: 1%;
  padding: 2%;
  flex: 4 0 0;

}

.side-section {
  text-align: justify;
  margin: 1%;
  flex: 1 0 0;
  padding: 1%;
  
}

.created {
  font-size: 0.75rem;
  text-align: left;
}

.comment-box {
  border: thin solid grey;
  text-align: left;
  height: 80px;
  background-color: #ffffff;
}

/* text input boxes */
.input-box[placeholder] {
  padding: 1rem;

  /*margin-top: .5rem;*/

  /*margin-bottom: 1.5rem;*/
  font-family: "Raleway", sans-serif;
}

.input-box[value] {
  padding: 1rem;
  margin-bottom: 1rem;

  /*margin-top: 5%;*/
  font-family: "Raleway", sans-serif;
}

.input-box {
  padding-right: 1rem;
}

/*************************************/

/* footer styles */
.footer {
  background-color: #EAECEE;
  padding: 1%;
  text-align: justify;
  display: flex;
}

.footer-section {
  
  flex: auto;
}
ul.footer-links {
  
  background-color: #EAECEE;
  justify-content: flex-start;
  
}
.footer-links a {
  
  color: #5499C7;
  text-align: justify;
  font-size: 1.1rem;

}
li.footer-nav {
  margin-right: 1%;
  padding: 0;
}
.foot-link {
  padding: 0;
}





@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    padding: 2%;
  }

  a {

    /*padding: 6%;*/
    font-size: 1.2rem;
  }

  .header-box {
    height: 300px;
  }

  .title {
    text-align: center;
    font-size: 1.4rem;
  }

  /*.footer {
        display: flex;
    }*/

  /*.footer-section {
        flex: auto;
    }*/

  /*.footer-links {
        text-align: right;

        display: block;
    }*/

  /*.footer-nav {
        font-size: 0.7rem;
    }*/
  a.alt-links {
    padding: 0;
    font-size: 0.75rem;
    display: block;
  }
}
