/* ************************************** */

/* Default style sheet */

/* general element styles */

body,
html {
  font-family      : 'Raleway',
                     sans-serif;
  font-size        : 1rem;
  background-color : rgba(255, 255, 255, 0.45);
}

img {
  width          : 100%;
  padding-bottom : 4%;
}

header {
  padding    : 5%;
  border     : thin solid grey;
  text-align : center;
}

footer {
  padding          : 4%;
  border           : thin solid black;
  background-color : #1A7D7B;
}

/* style the navbar */

ul {
  display         : flex;
  padding-right   : 5%;
  justify-content : flex-end;
}

li {
  display         : inline;
  text-decoration : none;
    /* border: thin solid black; */
}

a {
  color           : grey;
  text-decoration : none;
  font-size       : 1.5em;
    /* border: thin solid black; */
}

a : hover {  color: green;
