
{# navbar taken from lecture notes. set the active page at the beginning of each template.#}
{% for item in navigation_bar %}
   <li><a {% if item[0] == active_page %}class="active"{% endif %}href="/admin/{{ (item[0]) }}">
       {{ item[1] }}</a></li>
{% endfor %}

