{% extends 'admin/admin_base.html.twig' %}


{% block title %}
Admin dashboard | create-page
{% endblock %}

{% block navbar %}
    <a href="{{ path('admin_logout') }}">Logout</a>
    <p>
        Welcome home,{{ user.username }}
        {{ id }}
    </p>
{% endblock %}

{% block settings_nav %}
<div class="sub-nav">
    <ul class="sub-nav">
        <li class="admin-nav"><a class="admin-button" href="/admin/dashboard"><span class="button">Dashboard</span></a></li>
        <li class="admin-nav"><a class="admin-button" href="/admin/create-page"><span class="button">Create a new web-page</span></a></li>
        <li class="admin-nav"><a class="admin-button" href="/admin/view-pages"><span class="button">View current pages</span></a></li>
        <li class="admin-nav"><a class="admin-button" href="#"><span class="button">Remove a page</span></a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="main-section">
    <h3>Current pages:</h3>
    <p>
        {% for page in pages %}
        {{ page.pagename }}
        {% endfor %}
    </p>
    <form name="create-page" action="/admin/new-page" method="post"/>
        <input type="text" name="pagename" placeholder="Page Name"/>
        <input type="text" name="pagepath" placeholder="Page Route"/>
        <input type="text" name="pagetemplate" placeholder="Twig Template"/>
        <input type="submit" value="Create Page"/>
    </div>
{% endblock %}
