{% extends 'admin/admin_base.html.twig' %}


{% block title %}
Admin dashboard
{% endblock %}

{% block style %}
@import '{{ app.request.basepath }}/css/default_theme.css';
{% endblock %}

{% block navbar %}
    <a href="{{ path('admin_logout') }}">Logout</a>
{% endblock %}

{% block content %}
    <p>
        Welcome home, admin
    </p>

{% endblock %}
