{% extends 'admin/admin_base.html.twig' %}
{% set pagesSubNav = [['create-page', 'Create a new web-page'], ['view-pages', 'View current pages'], ['delete-page', 'Remove a page']] %}
{# set the active page to be styled. Do this on every different page #}
{% set active_page = 'pages' %}



{% block title %}
Admin Pages
{% endblock %}


{% block subnavbar %}
    {% include 'admin/admin_pagesSubNav.html.twig' %}
{% endblock %}



{% block content %}

    
    <p>
        {% if result is defined %}
        {{ result }}
        {% endif %}
    </p>

{% endblock %}
