{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'contact' %}

{% block title %}
{{ active_page }}
{% endblock %}






{% block subheading %}<h2>Contact Form..</h2>{% endblock %}
