{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'contact' %}

{% block title %}
Home
{% endblock %}
{% block style %}
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import '{{ app.request.basepath }}/css/default_theme.css';
{% endblock %}

{% block header %}
    <h1>CMS-A content management system for everyone</h1>
{% endblock %}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<p>
    Contact us!
</p>
{% endblock %}
