{% if pages is defined %}
    {% for page in pages %}
        <li class="footer-nav"><a class="alt-links" href="{{ page.pagePath }}">{{ page.pageName|capitalize }}</a></li>
    {% endfor %}
{% endif %}
