{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'home' %}
{% block title %}
{{ active_page }}
{% endblock %}


{# {% block header %}

{% endblock %} #}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block subheading %}<h2>Your home blog posts...</h2>{% endblock %}


{% block content %}
    {% if content is defined %}
        {% for con in content %}
            <article class="section">
                <h3>{{ con.contentItemTitle }}</h3>
                <p>{{ con.contentItem }}</p>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}
