{# the home page template #}
{% extends 'base.html.twig' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<p>Welcome to Light CMS, a content management system for the creation of simple websites</p>
{% endblock %}
