{# the home page template #}
{% extends 'base.html.twig' %}

{% block title %}
Home
{% endblock %}
{% block style %}
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import '{{ app.request.basepath }}/css/default_theme.css';
{% endblock %}
{% block content %}
<header>
  Welcome to Light CMS, a content management system for the creation of simple websites
</header>
<a href="/homepage">Change Theme</a>
<a href="/articles">Articles</a>

{% endblock %}
