{% extends 'base.html.twig' %}

{% set active_page = 'home' %}

{% block title %}
Log-in
{% endblock %}

{% block style %}
@import '{{ app.request.basepath }}/css/default_theme.css';
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
{{ error }}
    <form action="{{ path('admin_login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{ last_username }}"/>
        <label for="password">Password:</label>
        <input type="password" name="password" value="password"/>
        <input type="submit" />
    </form>
{% endblock %}
