{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = "portfolio" %}

{% block title %}
{{ active_page }}
{% endblock %}




{% block subheading %}<h2>This is your portfolio page...</h2>{% endblock %}

{% block content %}
{% for con in content %}
    <article class="section">
        <h3>{{ con.contentitemtitle }}</h3>
        <p>{{ con.contentitem }}</p>
    </article>
{% endfor %}
{% endblock %}
