{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = "portfolio" %}

{% block title %}
{{ active_page }}
{% endblock %}




{% block subheading %}<h2>This is your portfolio page...</h2>{% endblock %}
