{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = "portfolio" %}

{% block title %}
Home
{% endblock %}
{% block style %}
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import '{{ app.request.basepath }}/css/default_theme.css';
{% endblock %}

{% block header %}
    <h1>CMS-A content management system for everyone</h1>
{% endblock %}


{% block navbar %}
    {% for page in pages %}
        <li {% if active_page == page.pagePath %}class="active"{% endif %}><a href="{{ page.pagePath }}">{{ page.pageName }}&nbsp/&nbsp/</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<p>
    Welcome to our portfolio!
</p>
{% endblock %}
